<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/7b85ef11c4.js"></script>
    <link rel="stylesheet" href="../css/newsfeed.css">
    <title>Newsfeed</title>
  </head>
  <body>
        <nav class="navbar navbar-inverse principal-color">
                <div class="container-fluid white-letter">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header white-letter">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <!--   -->
                  <div class="collapse navbar-collapse white-letter" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right white-lette">
                      <li class="dropdown white-lette">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
                            <li><a href="user.html"><i class="fa fa-smile-o" aria-hidden="true"></i></a></li>
                          <!-- <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li> -->
                        </ul>
                      </li>
                    </ul>
                   </div> <!--/.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>
    <section class="container-fluid">
        <div class="jumbotron col-sm-12">
            <div class="row">
                <div id="homePage" class="col-sm-3 col-md-6 col-md-offset-3 ">
                    <!-- <input type="text" class="form-control" placeholder="Buscar lugares..."> -->
                    <input id="f" type="file" >
                </div>
            </div>
        </div>
        <!-- fotos de perfiles seguidos -->
        <div class="row">

                <div class="panel panel-default col-sm-12 col-md-3">
                    <div class="panel-heading">
                        <div class="row">
                            <img class="col-sm-3 perfil-size" src="../assets/images/silueta-perfil.jpg" alt="">
                            <div class="col-sm-6">
                                <h3 id="title" class="text-left">Fulanito</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <p class="col-md-12" >Localización</p>
                        </div>
                        <img class="img-responsive photo-size" src="../assets/images/img1.jpg" alt="">
                        <div class="row">
                            <p class="col-md-12" >Descripción de la imagen</p>
                        </div>
                        <a href="#info" class="btn" data-toggle="modal" data-target="#info">Ver más...</a>
                        <div class="row">
                            <textarea class="form-control" rows="1"></textarea>
                        </div>
                    </div>
                </div>
            <div class="panel panel-default col-sm-12 col-md-3">
                <div class="panel-heading">
                    <div class="row">
                        <img class="col-sm-3 perfil-size" src="../assets/images/silueta-perfil.jpg" alt="">
                        <div class="col-sm-6">
                            <h3 class="text-left">Fulanito</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <p class="col-md-12" >Localización</p>
                    </div>
                    <img class="img-responsive photo-size" src="../assets/images/img2.jpg" alt="">
                    <div class="row">
                        <p class="col-md-12" >Descripción de la imagen</p>
                    </div>
                    <a href="#info" class="btn" data-toggle="modal" data-target="#info">Ver más...</a>
                    <div class="row">
                        <textarea class="form-control" rows="1"></textarea>
                    </div>
                </div>
            </div>
            <div class="panel panel-default col-sm-12 col-md-3">
                <div class="panel-heading">
                    <div class="row">
                        <img class="col-sm-3 perfil-size" src="../assets/images/silueta-perfil.jpg" alt="">
                        <div class="col-sm-6">
                            <h3 class="text-left">Fulanito</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <p class="col-md-12" >Localización</p>
                    </div>
                    <img class="img-responsive photo-size" src="../assets/images/img4.jpg" alt="">
                    <div class="row">
                        <p class="col-md-12" >Descripción de la imagen</p>
                    </div>
                    <a href="#info" class="btn" data-toggle="modal" data-target="#info">Ver más...</a>
                    <div class="row">
                        <textarea class="form-control" rows="1"></textarea>
                    </div>
                </div>
            </div>
            <div class="panel panel-default col-sm-12 col-md-3">
                <div class="panel-heading">
                    <div class="row">
                        <img class="col-sm-3 perfil-size" src="../assets/images/silueta-perfil.jpg" alt="">
                        <div class="col-sm-6">
                            <h3 class="text-left">Fulanito</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <p class="col-md-12" >Localización</p>
                    </div>
                    <img class="img-responsive photo-size" src="../assets/images/img5.jpg" alt="">
                    <div class="row">
                        <p class="col-md-12" >Descripción de la imagen</p>
                    </div>
                    <a href="#info" class="btn" data-toggle="modal" data-target="#info">Ver más...</a>
                    <div class="row">
                        <textarea class="form-control new-text" rows="1"></textarea>
                        <button id="send" type="button">send</button>
                    </div>
                    <div id="content">

                    </div>
                </div>
            </div>
            <div class="panel panel-default col-sm-12 col-md-3">
                    <div class="panel-heading">
                        <div class="row">
                            <img class="col-sm-3 perfil-size" src="../assets/images/silueta-perfil.jpg" alt="">
                            <div class="col-sm-6">
                                <h3 class="text-left">Fulanito</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <p class="col-md-12" >Localización</p>
                        </div>
                        <img id="i" />
                        <!-- <img class="img-responsive photo-size" src="../assets/images/img1.jpg" alt=""> -->
                        <div class="row">
                            <p class="col-md-12" >Descripción de la imagen</p>
                        </div>
                        <a href="#info" class="btn" data-toggle="modal" data-target="#info">Ver más...</a>
                        <div class="row">
                            <textarea class="form-control" rows="1"></textarea>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <div class="modal fade" tabindex="-1" role="dialog" id="info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <img class="col-sm-3 col-md-3" src="../assets/images/silueta-perfil.jpg" alt="">
                  <h3 class="col-sm-9 col-md-9 text-left">Fulanito</h3>
                </div>
                <div class="modal-body">
                    <img class="img-responsive col-md-12" src="../assets/images/img1.jpg" alt="">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam non deleniti omnis iure ipsum qui corrupti, veniam minima dicta aspernatur rem distinctio sunt nam perspiciatis delectus earum. Ex, voluptas facere!</p>
                    <textarea class="form-control" rows="1"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="../js/vendor/src/bootstrap-filestyle.min.js"></script>
    <script src="../js/vendor/bootstrap.min.js"></script>
    <script src="../js/vendor/newsfeed.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
