<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/user.css">
    <title>Perfil de Usuario</title>
  </head>
  <body>
    <main class="container-fluid">
        <div class="row">
            <img class="col-sm-3" src="https://dummyimage.com/10x10" alt="">
            <div class="col-sm-3">
                <h5>Seguidores</h5>
                <p>50</p>
            </div>
            <div class="col-sm-3">
                <h5>Seguidos</h5>
                <p>100</p>
            </div>
        </div>
        <div class="row">
            <h5 class="text-center" >Where I`ve been</h5>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <p>Titulo</p>
                <img class="img-responsive" src="https://dummyimage.com/300x300" alt="">
                <p>Descripción de la imagen</p>
                <!-- <a href="#info" class="btn" data-toggle="modal" data-target="#info">Ver más...</a> -->
            </div>
            <div class="col-sm-4 col-md-4">
                <p>Titulo</p>
                <img class="img-responsive" src="https://dummyimage.com/300x300" alt="">
                <p>Descripción de la imagen</p>
                <!-- <a href="#info" class="btn" data-toggle="modal" data-target="#info">Ver más...</a> -->
            </div>
            <div class="col-sm-4 col-md-4">
                <p>Titulo</p>
                <img class="img-responsive" src="https://dummyimage.com/300x300" alt="">
                <p>Descripción de la imagen</p>
                <!-- <a href="#info" class="btn" data-toggle="modal" data-target="#info">Ver más...</a> -->
            </div>
        </div>
    </main>


    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="../js/vendor/bootstrap.min.js"></script>
    <script src="../js/vendor/user.js"></script>
  </body>
</html>
